@use "vars";

.product-detail {
    width: 360px;
    padding: 24px;
    box-sizing: border-box;
    position: absolute;
    right: 45px;
    background-color: var(--white);
    top: 60.5px;
    bottom: auto;
    border-radius: 6px;
    border: 1px solid var(--very-ligth-pink);
}
.title-container {
    display: flex;
    align-items: baseline;
}
.title-container img {
    transform: rotate(180deg);
    margin-right: 14px;
}
.title {
    font-size: var(--lg);
    font-weight: bold;
}

.primary-button {
    background-color: var(--hospital-green);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 50px;
}
.my-order-content {
    overflow-y: scroll;
    scroll-behavior: smooth;
    height: 300px;
}

.arrow {
    cursor: pointer;
}

@media (max-width: 640px) {
    .product-detail {
      width: 100%;
    }
}